<section class="ng-orbit-remote-page">
  <header class="ng-orbit-remote-page__header">
    <h2 class="ng-orbit-remote-page__title">{{ titleKey() | translate }}</h2>
    <p class="ng-orbit-remote-page__subtitle">{{ subtitleKey() | translate }}</p>
  </header>

  @if (!iframeSrc()) {
    <div class="ng-orbit-remote-page__fallback">
      {{ 'remote.missingManifest' | translate }}
    </div>
  }

  @if (iframeSrc()) {
    <div class="ng-orbit-remote-page__frame-wrap">
      <iframe
        class="ng-orbit-remote-page__frame"
        [src]="iframeSrc()"
        [title]="titleKey() | translate"
        (load)="onFrameLoad()"
        (error)="onFrameError()"
      ></iframe>

      @if (hasFrameError()) {
        <div class="ng-orbit-remote-page__fallback">
          {{ 'remote.unavailable' | translate }}
        </div>
      }
    </div>
  }
</section>
