<section class="ng-orbit-remote-page">
  @if (!iframeSrc()) {
    <div class="ng-orbit-remote-page__fallback">
      {{ 'remote.missingManifest' | translate }}
    </div>
  }

  @if (iframeSrc()) {
    <div class="ng-orbit-remote-page__frame-wrap" [ngStyle]="frameStyles()">
      <iframe
        class="ng-orbit-remote-page__frame"
        [src]="iframeSrc()"
        [title]="'remote.title' | translate"
        (load)="onFrameLoad()"
        (error)="onFrameError()"
      ></iframe>

      @if (hasFrameError()) {
        <div class="ng-orbit-remote-page__fallback">
          {{ 'remote.unavailable' | translate }}
        </div>
      }
    </div>
  }
</section>
